__pycache__/
build/
/venv/
/.temp/
/.idea
/cover.png
/HOME - Odyssey - 01 Intro.mp3
/HOME - Odyssey - 02 Native.mp3
/HOME - Odyssey - 03 Decay.mp3
/HOME - Odyssey - 04 Oort Cloud.mp3
/HOME - Odyssey - 05 Tides.mp3
/HOME - Odyssey - 06 Nights (I Wish I Could Be There).mp3
/HOME - Odyssey - 07 Odyssey.mp3
/HOME - Odyssey - 08 New Machines.mp3
/HOME - Odyssey - 09 Resonance.mp3
/HOME - Odyssey - 10 Come Back Down.mp3
/HOME - Odyssey - 11 Half Moon.mp3
/HOME - Odyssey - 12 On The Way Out.mp3
/out.mp4
/tracklist.txt
/npgy/
/beta/
